body{
  background-color: hsl(0, 0%, 10%);
}

.to-do-list {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-top: 100px;
}


h1{
  font-size: 3rem;
  color: white;
}


button{
  font-size: 1.3rem;
  font-weight: bold;
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.5s ease;
}


.add-button{
  background-color: hsl(125, 47%, 54%);
}

.add-button:hover{
  background-color: hsl(125, 47%, 44%);
}



.delete-button{
  background-color: hsl(10, 90%, 50%);
}

.delete-button:hover{
  background-color: hsl(10, 90%, 40%);
}



.moveup-button{
  background-color: hsl(210, 90%, 60%);
}

.moveup-button:hover{
  background-color: hsl(210, 90%, 50%);
}



.movedown-button{
  background-color: hsl(270, 70%, 65%);
}

.movedown-button:hover{
  background-color: hsl(270, 70%, 55%);
}


input[type="text"]{
  font-size: 1.3rem;
  padding: 7.5px;
  border: 2px solid hsl(0, 0%, 80%,0.5);
  border-radius: 10px;
  color: hsl(0, 0%, 0%,0.5);
}

ol{
  padding: 0;
}

li{
  font-size: 1.6rem;
  font-weight: bold;
  padding: 15px;
  background-color: hsl(0, 0%, 97%);
  margin-bottom: 0.4%;
  border: 3px solid hsl(0, 0%, 85%,0.75);
  border-radius: 10px;
  display: flex;
  align-items: center;

}

.text {
  flex: 1;
}

.delete-button,.movedown-button , .moveup-button{
  padding: 7px 10px;
  font-size: 1.3rem;
  margin-left: 10px;

}